<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake</title>
</head>
<body>
<div>
    <h1>Buscar por URL possivel fake news</h1>
    <form method="post" action="{% url 'core:home' %}">
        {% csrf_token %}
        <label>Busca:</label>
        <input type="url" name="url_buscada">
        <button>Enviar</button>
    </form>
</div>
<br>

<div>
    <h1>Cadastrar uma possivel fake news</h1>
    <form action="{% url 'core:home' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button value="url">Cadastrar</button>
    </form>
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}

    {% endif %}
</div>

<br>

<div>
    <h1>Lista das fake news</h1>
    {% for f in busca %}
        {{ f.url }} <br>
    {% endfor %}
</div>


</body>
</html>